<?xml version="1.0"?>
<config>

    <!-- Module Metadata -->
    <modules>
        <Humm_HummPayments>
            <version>humm_plugin_version_placeholder</version>
        </Humm_HummPayments>
    </modules>
    <!-- End Module Metadata -->

    <!-- Dependency Injection Configuration -->
    <global>
        <!-- <module root>/Helper/Data.php -->
        <helpers>
            <HummPayments>
                <class>Humm_HummPayments_Helper</class>
            </HummPayments>
        </helpers>

        <!-- Partial View Controllers -->
        <blocks>
            <HummPayments>
                <!-- <module root>/[Form|Info]/HummPayments.php -->
                <class>Humm_HummPayments_Block</class>
            </HummPayments>
        </blocks>
        <models>
            <!-- <module root/Model/Paymentmethod.php -->
            <HummPayments>
                <class>Humm_HummPayments_Model</class>
            </HummPayments>
        </models>
        <resources>
            <!-- <module root/sql/HummPayments_setup/install-<version number>.php -->
            <HummPayments_setup>
                <setup>
                    <module>Humm_HummPayments</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </HummPayments_setup>
        </resources>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <humm_hummPayments_settings_carryover_observer>
                        <type>singleton</type>
                        <class>Humm_HummPayments_Model_Observer</class>
                        <method>carryOverSettings</method>
                    </humm_hummPayments_settings_carryover_observer>
                </observers>
            </adminhtml_init_system_config>
        </events>
    </global>
    <!-- End Dependency Injection Configuration -->

    <!-- Payment Method Default Configuration Values -->
    <default>
        <payment>
            <HummPayments>
                <model>HummPayments/paymentmethod</model>
                <title></title>
                <payment_action>sale</payment_action>
                <active>0</active>
                <merchant_number></merchant_number>
                <api_key></api_key>
                <gateway_url></gateway_url>
                <is_testing>1</is_testing>
                <force_humm>0</force_humm>
                <humm_approved_order_status>humm_processed</humm_approved_order_status>
                <automatic_invoice>0</automatic_invoice> <!-- 0:No -->
                <email_customer>1</email_customer>
                <specificcountry>AU</specificcountry>
            </HummPayments>
        </payment>
        <humm>
            <cron>
                <pending_payment_timeout>5400</pending_payment_timeout> <!-- Not used yet -->
            </cron>
        </humm>
    </default>
    <!-- End Payment Method Default Configuration Values -->

    <!-- Crontab configuration -->
    <crontab>
        <jobs>
            <!-- <Humm_cancelHummPendingOrders>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>HummPayments/observer::cancelHummPendingOrders</model>
                </run>
            </Humm_cancelHummPendingOrders> -->
        </jobs>
    </crontab>
    <!-- End Crontab configuration -->

    <!-- Routing Configuration -->
    <frontend>
        <routers>
            <HummPayments>
                <use>standard</use>
                <args>
                    <module>Humm_HummPayments</module>
                    <frontName>HummPayments</frontName>
                </args>
            </HummPayments>
        </routers>
    </frontend>
    <!-- End Routing Configuration -->
</config>
